body {
    background-color: #a4a4a7;
}

#calc_containers {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    gap: 10px 50px;
}
#calc_containers label {
    display: grid;
    grid-template-columns: minmax(150px, 1fr) auto;
    text-align: left;
}
#calc_containers input[type="number"] {
    width: 50px; 
    text-align: right;
    background-color: #ffffff;
}

#calc_containers input[type="checkbox"] {
    align-items: 10px;
}
